

.container {
    width: 100%;
}

.navbar {
    height: 60px;

    > img {
        height: 100%;
    }
}

.content {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    gap: 20px;
}


@media (min-width: 600px) {
    .content { grid-template-columns: 1fr 1fr 1fr }
  }

.card {
    border-radius: 10px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    
}

.card-content {
    width: 100%;
    margin: auto;
}
