

.container {
    width: 100%;
}

.navbar {
    height: 60px;

    > img {
        height: 100%;
    }
}

.content {
    width: 80%; 
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.card {
    border-radius: 10px;
    width: 200px;
    height: 300px;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
}

.card-content {
    width: 100%;
    margin: auto;
}
